<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tinyURL</title>
  <%- include('partials/_header') %>
</head>

<body>
  
      <!-- This line will not show up on the page -->
      <% if(greeting) {%>
        <!-- This line will only show if greeting is truthy -->
        <h1>
          <%= greeting + ' CoOOllio' %>
        </h1>
        <% }%>

</body>

</html>